<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="false" />
                    </conditions>
                </rule>

                <!-- All other URLs are mapped to the Node.js application entry point -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
                    </conditions>
                    <action type="Rewrite" url="app.js" />
                </rule>
            </rules>
        </rewrite>

        <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin"/>
                </hiddenSegments>
            </requestFiltering>
        </security>

        <!-- Make sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough" />

        <iisnode
            nodeProcessCommandLine="node"
            handleErrors="true"
            watchedFiles="*.js;iisnode.yml"
            loggingEnabled="true"
            debuggingEnabled="true"
            devErrorsEnabled="true"
            flushResponse="true"
            enableXFF="true"
            promoteServerVars="HTTP_X_FORWARDED_FOR,HTTP_X_FORWARDED_PROTO"
            maxConcurrentRequestsPerProcess="1024"
            maxNamedPipeConnectionRetry="100"
            namedPipeConnectionRetryDelay="250"
            maxNamedPipeConnectionPoolSize="512"
            maxNamedPipePooledConnectionAge="30000"
            initialRequestBufferSize="4096"
            maxRequestBufferSize="65536"
            watchedFiles="*.js"
            loggingDirectory="iisnode"
        />
    </system.webServer>
</configuration>