<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <webSocket enabled="false"/>
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="CORS Preflight" stopProcessing="true">
                    <match url=".*"/>
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^OPTIONS$"/>
                    </conditions>
                    <action type="CustomResponse" 
                            statusCode="204"
                            statusReason="Preflight"
                            statusDescription="Preflight"
                            headers="Content-Type=application/json,
                                    Access-Control-Allow-Origin=https://www.avgallery.shop,
                                    Access-Control-Allow-Methods=GET,POST,PUT,DELETE,OPTIONS,
                                    Access-Control-Allow-Headers=Content-Type,Authorization,X-Requested-With,
                                    Access-Control-Allow-Credentials=true"/>
                </rule>
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="app.js"/>
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough" errorMode="Custom">
            <remove statusCode="400"/>
            <remove statusCode="404"/>
            <remove statusCode="500"/>
            <error statusCode="400" responseMode="ExecuteURL" path="/api/error"/>
            <error statusCode="404" responseMode="ExecuteURL" path="/api/error"/>
            <error statusCode="500" responseMode="ExecuteURL" path="/api/error"/>
        </httpErrors>
        <security>
            <requestFiltering removeServerHeader="true"/>
        </security>
    </system.webServer>
</configuration>