<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="app.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode
            watchedFiles="*.js"
            node_env="production"
            loggingEnabled="true"
            logDirectory="..\..\LogFiles\iisnode"
            debuggingEnabled="true"
            devErrorsEnabled="true"
            nodeProcessCommandLine="node"
            promoteServerVars="HTTPS,HTTP_X_FORWARDED_FOR,HTTP_X_FORWARDED_PROTO"
        />
        <httpErrors existingResponse="PassThrough" />
    </system.webServer>
</configuration>